<div class="col-7">
  <div class="mb-3">
    <%= link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>
  <div class="mb-3">
    <%= render "shared/tweet_form" %>
  </div>
  <div id="tweets">
    <%= render Tweet.order(created_at: :desc) %>
  </div>
</div>
<div class="col">
  Column
</div>