.btn-twitter {
  background-color: $twitter-blue;
  color: $white !important;
  transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  font-weight: 600;

  &:hover  {
    background-color: $twitter-blue-dark !important;
  }
}
